html, body {
    height: 100%;
    width: 100%;
}

.container-fluid, #map_canvas {
    height: 100%;
}

body {
    /*background-color: #43c86a;*/
    color: white;
}


.left {
    background-color: #f8f8ff;
    float: left;
    width: 60%;
    height: 100vh;
}

.right {
    background-color: #43c86a;
    float: left;
    width: 40%;
    height: 100vh;
    padding-top: 15%;
    text-align: center;
}

.donation {
    background-color: #43c86a;
    float: left;
    width: 40%;
    height: 100vh;
    padding-top: 10%;
    text-align: center;
}

/* .placeholder_image {
    width: 100%;
} */


.btn {
    max-width: 600px;
    border-radius: 50px;
    width: 80%;
}

.button
{
    border-radius: 50px;
    background-color: white;
    color: #43c86a;
    font-weight: bold;
    padding: 7px 7px 7px 7px;
}

.sizing {
    width: 80%;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
}

.find { 
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    width: 35%;
    text-overflow: visible;
}

.donatenow {
    border: 2px solid white;
    width: 60%;
    color:#67aa7b;
    background-color: white;
    border-radius: 50px;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    padding: 7px 7px 7px 7px;
}

.donatenow a {
    color:#67aa7b; 
    font-weight: bold;
}

.registration {
    /* width: 70%; */
    display: inline-block;
    margin-left: 0 auto;
    margin-right: 0 auto;
    border-radius: 50px;
    border: 2px solid white;
    color: white;
    background-color: #43c86a;
    font-weight: bold;
    white-space: normal;
}

/* show list of donations */
#donations-table {
    width: 100%;
}






/* queries */
@media only screen and (max-width: 768px) {

    /* For mobile phones: */

    body {
        display: flex;
        flex-direction: column;
    }
    .left, .right, .donation{
        height: 50vh;
        width: 100%;
    }

    /* .right {
        overflow: ;
    } */
}